<h1>Wanted: </h1>
<p>Band: <%= link_to @opening.band.name, band_path(@opening.band) %></p>
<p>Role: <%= @opening.instrument.name %></p>
<p>Commitment: <%= @opening.commitment %></p>
<p>Description: <%= @opening.description %></p>
<%# USER OPTIONS %>
<%= button_to "Edit Opening", opening_path(@opening), method: :get %>
<%= form_tag opening_path(@opening), method: :delete do  %>
  <%= submit_tag "Remove Opening" %>
<% end %>
<%# MUSICIAN OPTIONS %>
<%# APPLY %>
