<h1>Welcome <%= @name %>!</h1>

<%= form_for @user do |f| %>
<%= f.label :username, "Username" %>
<%= f.text_field :username %><br>
<%= f.label :password, "Password" %>
<%= f.text_field :password %><br>
<%= f.fields_for :musician_attributes, @user.build_musician do |m| %>
  <%= m.hidden_field :name, :value => "#{@name}" %>
  <%= m.label :location, "Your location" %>
  <%= m.text_field :location %>
  <%= m.label :availabiity, "What are you looking for?" %><br>
  <%= m.collection_select :availabiity, ["single gigs", "jams", "full-time band", "part-time band", "session_work"], :to_s, :to_s %><br>
  <%= m.label :genre_ids, "What's your primary genre? (You can add more later)" %>
  <%= m.collection_select :genre_ids, Genre.all, :id, :name %><br>
  <%= m.label :instrument_ids, "What's your primary instrument? (You can add more later)" %>
  <%= m.collection_select :instrument_ids, Instrument.all, :id, :name %>
  <% end %>
<%= f.submit "Create your account" %>
<% end %>
