<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/assets/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">JamBuddy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= musician_path(current_user.musician) %>">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= musicians_path %>">Musicians</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= bands_path %>">Bands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= requests_path %>"><%= Request.notification(current_user.id) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= suggest_path %>">Jam!</a>
      </li>
      <ul><%= form_tag "/logout", method: "delete", :class => "form-inline my-2 my-lg-0" do %>
          <%= submit_tag "Logout", :class => "btn btn-outline-success my-2 my-sm-0" %>
        <% end %></ul>
    </ul>
  </div>
</nav>
