<!DOCTYPE html>
<html>
  <head>
    <title>JamBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
    <tr>
      <td> #username </td>
      <td><%= link_to "Home", '/' %></td>
      <td>Profile</td>
      <td>Find a Gig</td>
      <td><%= link_to "Musicians", musicians_path %></td>
      <td><%= link_to "Bands", bands_path %></td>
      <td>Notifications</td>
      <td>Log out</td>
      </tr>
    </nav>
    <%= yield %>
  </body>
</html>
